*
    font-family: 'Montserrat', sans-serif
body
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
section
    width: 900px
    height: 400px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #BEBEBE
    border-radius: 5px
    padding: 30px
    box-sizing: border-box
    input
        width: 50%
        margin: 10px 0
        height: 20px
        padding: 5px
    #btn
        width: 30%
    #result
        height: 100px
        width: 500px
        display: flex
        align-items: center
        justify-content: center
        p
            color: green
