* {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;}
body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height:100vh;
    background-color: #f4e9d7;
}
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #e3cfae;
    color: #6c6c6c;
    text-align: center;
    border-bottom: 5px solid #ecddc4;
}
#sub_header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#show_you {
    padding-left: 10%;
}
#show_ordi {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}
.show {
    display: flex;
    flex-grow: 1;
    height: 40px;
    line-height: 40px;
    font-size: xx-large;
    width: 150px;
    text-align: center;
    color: #e3cfae;
    margin-top: 100px;
}
#bandeau_affichage {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#pixUser {
    display: flex;
    align-items: center;
}
#cadre {
    width: 600px;
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#score {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    border-bottom: 1px solid #a8a8a8;
    color: #6c6c6c;
    margin-top: 0;
}
#pixOrdi {
    display: flex;
    align-items: center;
}
footer {
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: auto;
}
footer #left img {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer #right img {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
#paper_left {
    display: none;
}
#scissor_left {
    display: none;
}
#paper_right {
    display: none;
}
#scissor_right {
    display: none;
}
